@using ProjectManagement.App.ViewModel
@model TaskViewModel

<div class="card shadow-sm mb-3">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Commit Linked</h5>

        @if(Model.Status != "Done")
        {
            <ejs-button id="addLinkedCommitButton"
                        isPrimary="true"
                        content="Add Linked Commit"
                        iconCss="e-icons e-plus"
                        iconPosition="Left"
                        onclick="showCommitDialog()">
            </ejs-button>
        }
    </div>
    <div class="card-body">
        <ejs-grid id="CommitGrid"
                  allowPaging="true"
                  allowSorting="true"
                  height="400">
            <e-data-manager url='@Url.Action("GetCommitRepo", "Task", new { projectId = Model.ProjectId, taskId = Model.TaskId })'
                            adaptor="UrlAdaptor"></e-data-manager>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" visible="false"></e-grid-column>
                <e-grid-column field="Message" headerText="Message" width="200" textAlign="Left"></e-grid-column>
                <e-grid-column field="AuthorName" headerText="Author Name" width="50" textAlign="Left"></e-grid-column>
                <e-grid-column 
                field="CommitDate" 
                headerText="Commit Date" 
                width="200" 
                type="date"
                format="dd MMMM yyyy"
                textAlign="Left"></e-grid-column>
              


            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


