@using ProjectManagement.App.ViewModel
@model TaskViewModel

<script>
    function onExistingCommandClick(args){
        if (args.commandColumn && args.commandColumn.buttonOption.content === "Link") {
            var rowData = args.rowData;
            var commitId = rowData.Id;
            var RepoId = rowData.RepoId;
            var taskId = @Model.TaskId;

            $.ajax({
                url: '@Url.Action("LinkCommit", "Task")',
                type: "POST",
                data: {
                    commitId: commitId,
                    repoId: RepoId,
                    taskId : taskId
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    location.reload();
                }
            });
        }
    }

    function openCommitDialog(){
        var dialogObj = document.getElementById("commitDialog").ej2_instances[0];
        dialogObj.show();
    }

    function closeCommitDialog(){
        var dialogObj = document.getElementById("commitDialog").ej2_instances[0];
        dialogObj.hide();
    }
</script>

<ejs-dialog id="commitDialog" header="Link Github Commits" 
            width="75%" visible="false" showCloseIcon="true" isModal="true"
            target="body">
    <e-content-template>
        <div class="content-dialog" id="commitGrid">
             <partial name="_LinkCommitGrid" model="Model"></partial>
        </div>
    </e-content-template>
</ejs-dialog>
