@using ProjectManagement.App.ViewModel
@model TaskViewModel


<ejs-dialog id="commitDialog" header="Link Github Commits" 
            width="75%" visible="false" showCloseIcon="true" isModal="true"
            target="body" close="closeCommitDialog">
    <e-content-template>
        <div class="content-dialog" id="commitGrid">
        </div>
    </e-content-template>
</ejs-dialog>

<script>
    function onExistingCommandClick(args){
        if (args.commandColumn && args.commandColumn.buttonOption.content === "Link") {
            var rowData = args.rowData;
            var commitId = rowData.Id;
            var RepoId = rowData.RepoId;
            var taskId = @Model.TaskId;

            console.log("Linked");

            $.ajax({
                url: '@Url.Action("LinkCommit", "Task")',
                type: "POST",
                data: {
                    commitId: commitId,
                    repoId: RepoId,
                    taskId : taskId
                },
                success: function (response) {
                    if (response.success) {

                         ejs.notifications.ToastUtility.show("Commit has been sucessfully linked", 'Success', 3000);
                    } else {
                        ejs.notifications.ToastUtility.show(response.Message, 'Error', 3000);
                    }
                },
                error: function (xhr, status, error) {

                    console.error(error);
                    ejs.notifications.ToastUtility.show("Error when linking commit", 'Error', 3000);
                }
            });

        }
    }

    function openCommitDialog(){
        var dialogObj = document.getElementById("commitDialog").ej2_instances[0];
        
        dialogObj.show();

    }

    function closeCommitDialog(){
        var commitDialog = document.getElementById("commitGrid")
        var contentDialog = document.getElementById("commmitDialogContent");

        commitDialog.removeChild(contentDialog);


    }
</script>