@using ProjectManagement.App.ViewModel
@model TaskViewModel

<div class="p-3">
    <ejs-grid id="ExistingCommitGrid"
              allowPaging="true"
              allowSorting="true"
              commandClick="onExistingCommandClick"
              height="400">
        <e-data-manager url='@Url.Action("GetAvailableCommit", "Task", new { projectId = Model.ProjectId, isConnected = Model.isConnectedRepo })'
                        adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" visible="false"></e-grid-column>
            <e-grid-column field="Sha" headerText="Sha" visible="false"></e-grid-column>
            <e-grid-column field="Message" headerText="Message" width="200" textAlign="Left"></e-grid-column>
            <e-grid-column field="AuthorName" headerText="Author Name" width="50" textAlign="Left"></e-grid-column>
            <e-grid-column field="CommitDate"
                           headerText="Commit Date"
                           width="200"
                           type="date"
                           format="dd MMMM yyyy"
                           textAlign="Left"></e-grid-column>

            <e-grid-column headerText="Actions"
                            width="120"
                            textAlign="Center"
                            commands="@(new List<object>
                            {
                                new { type = "None", buttonOption= new { content = "Link", cssClass = "e-primary" }}
                            })">
            </e-grid-column>

        </e-grid-columns>
    </ejs-grid>
</div>

<script>
    function onExistingCommandClick(args){
        if (args.commandColumn && args.commandColumn.buttonOption.content === "Link") {
            var rowData = args.rowData;
            var commitId = rowData.Id;
            var RepoId = rowData.RepoId;
            var taskId = @Model.TaskId;

            console.log("Linked");

            $.ajax({
                url: '@Url.Action("LinkCommit", "Task")',
                type: "POST",
                data: {
                    commitId: commitId,
                    repoId: RepoId,
                    taskId : taskId
                },
                success: function (response) {
                    if (response.success) {

                         ejs.notifications.ToastUtility.show("Commit has been sucessfully linked", 'Success', 3000);
                    } else {
                        ejs.notifications.ToastUtility.show(response.Message, 'Error', 3000);
                    }
                },
                error: function (xhr, status, error) {

                    console.error(error);
                    ejs.notifications.ToastUtility.show("Error when linking commit", 'Error', 3000);
                }
            });

        }
    }
</script>