@using ProjectManagement.App.ViewModel
@model TaskViewModel

<div class="general-summary">
    <p>
        <i class="bi bi-link-45deg"></i>
        <b>Linked Commits:</b> @Model.TotalLinkedCommits
    </p>
</div>
<div class="card shadow-sm mb-3">

    <div class="card-header bg-light">
        <h5 class="mb-0">Overview</h5>
    </div>
    <div class="card-body">
        <p><b>Description:</b> @Model.Description</p>
        <p><b>Assignee:</b> "Test"</p>
        <p><b>Priority:</b> "Test"</p>
    </div>
</div>

