<ejs-dialog id="githubDialog" header="Github Repo List"
            width="75%" visible="false" showCloseIcon="true" isModal="true"
            target="#githubTarget">
    <e-content-template>
        <div class="content-dialog">
            <div id="githubGridContainer"></div>
        </div>
    </e-content-template>
</ejs-dialog>

@* <script id="urlTemplate" type="text/x-template">
    <a href="${Html_Url}">${Html_Url}</a>
</script>
 *@
<script>
    function onGithubGrid(args)
    {
        var type = args.commandColumn.type;

        if(type == "Connect")
        {
            var data = args.rowData;
            var repoData = {
                RepoId: data.Id,
                Name: data.Name,
                Html_Url: data.Html_Url,
                Description : data.Description
            }
            var projectId = @ViewBag.ProjectID

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConnectToRepo", "Workspace")',
                data: { projectId: projectId, repo: repoData },
                success: function (response) {
                    if (response.Success) {
                         ejs.notifications.ToastUtility.show(response.Message, 'Success', 3000);
                    } else {
                        ejs.notifications.ToastUtility.show(response.Message, 'Error', 3000);
                    }
                },
                error: function () {
                    ejs.notifications.ToastUtility.show('Error contacting server.', 'Error', 3000);
                }
            });
        }
    }
</script>