@using ProjectManagement.App.ViewModel.Workspace
@model WorkspaceViewModel;
@{
    Layout = "_WorkspaceLayout";
    ViewData["Title"] = "Workspace Board";
}

<div>
    <h1>Workspace @Model.ProjectName Board</h1>
    <!-- Konten workspace Anda di sini -->
</div>