@using ProjectManagement.App.DTO.Project
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    @* @if (ViewBag.IsProjectEmpty)
    {
        <div>
            <p>Project is Empty</p>
            <ejs-button id="createButton" isPrimary="true" content="Create a Project" onclick="createProject()"></ejs-button>
        </div>
    } *@

    <div>
        <p>Project is Empty</p>
        <ejs-button id="createButton" isPrimary="true" content="Create a Project" onclick="createProject()"></ejs-button>
    </div>
</div>



<div id="dialogTarget" >
    <ejs-dialog id="createProjectDialog" header="Create new Project"
                width="500px" visible="false" showCloseIcon="true" isModal="true"
                target="#dialogTarget">
        <e-content-template>
            <partial name="_CreateProjectDialog" model="new CreateProjectDto()"></partial>
        </e-content-template>
    </ejs-dialog>
</div>







<script>

    function createProject() {
        var dialog = document.getElementById("createProjectDialog").ej2_instances[0];
        dialog.show();
    }

    // window.onload = function () {
    //     document.getElementById('createButton').onclick = function () {
    //         var dialog = document.getElementById("createProjectDialog").ej2_instances[0];
    //         dialog.show();
    //     }
    // }

    
    $('#createForm').on('submit', function (e) {
        e.preventDefault();

        var form = $(this);



        var formData = form.serialize();



        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: formData,
            success: function (response, status, xhr) {
                if (response.success == false) {
                    // Gagal validasi, return PartialView ulang
                    $("#createForm").validate().showErrors();


                } else {
                    // Sukses, tutup dialog & reload halaman
                    var dialog = $('#createProjectDialog')[0].ej2_instances[0];
                    dialog.hide();
                    location.reload();
                }
            },
            error: function () {
                alert("Terjadi kesalahan saat menyimpan.");
            }
        });
    });
     
     

    
</script>
